<!-- <div class='game-info-container'>
  <div class='game-info display'></div>
</div>
<div class="game-stats display"></div> -->


    <h1>Welcome to <%= @game.name %></h1>
    <p><%= @game.directions %></p>

    <% if @game.id == 1 %>
      <div id='equation_text_div'>Frogger</div>
      <div id='frogger'>
      <select id='mode'>
        <option value='none'>Select Mode</option>
        <option value="addition">Addition</option>
        <option value="subtraction">Subtraction</option>
        <option value="multiplication">Multiplication</option>
        <option value="division">Division</option>
        <option value='all'>All</option>
      </select>
      <br>


      <button id='frogger-button'>start</button></div>

    <% elsif @game.id == 2 %>
    <div id='flappy-bird'></div>

    <% elsif @game.id == 3 %>
    <div id='invasion'></div>
    <% end %>
    <script type="text/javascript" src="<%= @game.src %>"></script>
