<div class='game-info-container'>
  <div class='game-info display'></div>
</div>
<div class="game-stats display"></div>



<!--
THIS CODE IS FOR FROGGER
<div id='equation_text_div'></div>

<script type='text/javascript' src='/javascripts/flappy.js'></script>
-- >

