<div class='game-info-container'>
  <div class='game-info display'></div>
</div>
<div class="game-stats display"></div>





<div id='equation_text_div'></div>

<script type='text/javascript' src='/javascripts/frogger.js'></script>



<div id='frogger'></div>

