/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html, body {
  font: 10px sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}


body {
  margin: 0;
  background-color: #e0e0e0;
}

.navBar {
  background-color: #636363;
  color: white;
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 2px;
}

.title {
  margin: 0;
  display: inline-block;
}

.navBar a {
  color: inherit;
  text-decoration: none;
}

#equation_text_div {
  width: 50%;
  margin: auto;
  height: 50px;
  padding: 30px;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  background-color: whitesmoke;
}

#frogger {
  width: 1000px;
  height: 600px;
  background-color: black;
  background-image: url('/images/frogger/frogger-background.png');
  background-size: 600px 400px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 50px auto;
  text-align: center;
  box-shadow: 10px 10px 10px #888888;
}

#frogger h1, #flappy-bird h1, #math-hunt h1 {
  padding-top: 25%;
  font-size: 6em;
  color: white;
}

#flappy-bird {
  width: 1000px;
  height: 910px;
  background-color: black;
  background-image: url('/images/flappy_math/flappy2-background.png');
  background-size: 700px 600px;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  text-align: center;
}

#frogger-button {
  display: none;
}

#flappy-button {
  margin-top: 10px;
}


.game-start-button {
  width: 25%;
  padding: 10px 20px;
  font-size: 2em;
  border-radius: 5px;
}

.game-start-button:hover {
  font-weight: bold;
  box-shadow: 3px 3px 3px #888888;
}

#mode {
  margin-top: 25%;
  margin-bottom: 5px;
  font-size: 2em;
  width: 20%;
}

.flappy-select {
  margin-top: 35%;
  width: 12.5%;
}

#math-hunt {
  width: 1000px;
  height: 910px;
  margin: 20px auto;
  text-align: center;
  color: white;
  background-color: black;
  background-image: url('/images/duck_hunt/duck-screenshot.png');
  background-size: 700px 600px;
  background-repeat: no-repeat;
  background-position: center;
}

#hunt-button {
  margin-top: 40%;
}





/*Line graph styling*/
path.line {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

path.area {
  fill: #e7e7e7;
}

.axis {
  shape-rendering: crispEdges;
}

.x.axis line {
  stroke: #fff;
}

.x.axis .minor {
  stroke-opacity: .5;
}

.x.axis path {
  display: none;
}

.y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
}
.guideline {
  margin-right: 100px;
  float: right;
}

#hidden_match_button {
  padding: 10px 30px;
  border-radius: 10px;
  display: none;
}

#hidden_match_button a, a:visited{
  color: black;
  text-decoration: none;
  font-size: 2.5em;
}

#hidden_match_button:hover a{
  font-weight: bold;
}

#hidden_match_button:hover{
  box-shadow: 2px 2px 2px #888888;
}

.invasion-questions {
  width: 1000px;
  height: 180px;
  margin: auto;
}

.equation {
  margin: 1%;
  border-radius: 1em;
  display: inline-block;
  padding: 1%, 2%, 1%, 2%;
  width: 47%;
  font-size: xx-large;
  text-align: center;
  box-shadow: 10px 10px 10px #888888;
}

.p1 {
  float: left;
  background-color: #544E36;
}

.p2 {
  float: right;
  background-color: #C62A47;
}

#invasion {
  width: 1000px;
  height: 600px;
  background-color: white;
  margin: 1% auto;
  text-align: center;
  box-shadow: 10px 10px 10px #888888;
}

.deviseLogin, .playerTwoLogin {
  background-image: url(/images/backgrounds/login_background.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 95%;
  margin: -20px auto;
  background-size: 100% 100%;
  color: white;
  font-size: large;
  text-align: center;
}

.flash-errors {
  color: red;
  margin: 1em;
}

.deviseLogin h2, .deviseForgotPassword h2, .playerTwoLogin h2 {
  padding-top: 10%;
  color: #515B63;
  margin-bottom: 0;
}

.deviseSignUp h2 {
  padding-top: 1%;
}

.new_user {
  background-color: #353535;
  color: white;
  width: 15%;
  margin: 1% auto;
  opacity: 0.9;
  border: 2px solid #B9C0C4;
  border-radius: 5%;
}

.new_user .field {
  margin: 2% auto;
  padding: 5%;
  width: 80%;
  opacity: 1;
}

.actions input, .playerTwoLoginButton input {
  width: 100%;
  height: 4em;
  background-color: #00BFE9;
  font-size: medium;
  font-weight: bold;
}

.actions input:hover {
  background-color: #36609f;
}

.new_user label {
  padding: 10px;
}

.deviseLogin a {
  display: block;
}

.deviseSignUp {
  background-image: url(/images/backgrounds/sign_up_background.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 95%;
  margin: -20px auto;
  text-align: center;
  background-size: 100% 100%;
  color: white;
  font-size: large;
}

.deviseSignUp .new_user {
  width: 20%;
}

.deviseSignUp .new_user .field input {
  width: 80%;
  height: 1.5em;
}

.deviseForgotPassword {
  background-image: url("http://www.etouchcontrol.com/images/category/pages%20artwork/security/security-background.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 95%;
  margin: -20px auto;
  text-align: center;
  background-size: 100% 100%;
  color: white;
  font-size: large;
}

.deviseForgotPassword .new_user {
  width: 20%;
  border-radius: 10px;
}

.deviseForgotPassword a {
  display: block;
}

.login {
  width: 40%;
  float: right;
  display: inline-block;
  text-align: right;
  padding-right: 20px;
  margin-top: -15px;
}

.login a, .games-links a, .navbar-left a {
  margin: 0 5px 0 5px;
}

.navbar-left {
  width: 40%;
  float: left;
  text-align: left;
  padding-left: 20px;
  margin-top: -15px;
}

.navBar a, a:visited {
  font-size: medium;
  color: white;
}

.navBar a:hover {
  color: whitesmoke;
}

.title a {
  font-size: xx-large;
}

.game-show {
  background-image: url("http://hdwallpaperbackgrounds.net/wp-content/uploads/2016/07/white-background.jpg");
  background-size: 100% 100%;
  margin-top: -19px;
}

.game-show h1 {
  text-align: center;
  padding-top: 10px;
  font-size: xx-large;
}

.game-info {
  background-color: #E0E0E0;
  width: 100%;
  text-align: center;
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  font-size: medium;
}

.game-directions {
  display: block;
  width: 1000px;
  margin: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.game-directions h2, .player-info h2 {
  padding-top: 5px;
}

.player1-info, .player2-info {
  width: 49.5%;
  display: inline-block;
}

.player1-info {
  margin-right: 5px;
}

.player2-info {
  float: right;
}

.player-info {
  width: 1000px;
  margin: auto;
}

.player1-controls {
  border-bottom-left-radius: 10px;
}

.player2-controls {
  border-bottom-right-radius: 10px;
}

.player1-controls, .player2-controls, .player1-character, .player2-character {
  padding-bottom: 5px;
}

.spacer {
  height: 20px;
}

.radarChartDescription {
  text-align: center;
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  color: #E0E0E0;
  font-size: 1.3em;
}

.profile-page-background {
  background-image: url("http://www.pixelstalk.net/wp-content/uploads/2016/05/Formula-math-text-texture-wallpaper.jpg");
  background-size: 100% 100%;
}

.correct-incorrect-bar-chart, .userHistory {
  width: 60%;
  margin:  10px auto;
  margin-bottom: 0;
}
